body {
    max-width: 800px;
    padding: 5px;
    height: 100%;
    font-family: Courier, "Lucida Console", monospace;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eeeeee;
        background: #222831;
    }
}